{% extends 'base.html.twig' %}

{% block body %}
  {{ form_start(createDiscussionForm) }}
  {{ form_row(createDiscussionForm.title) }}
  {{ form_row(createDiscussionForm.content) }}
  {{ form_row(createDiscussionForm.category) }}
  {#  #}
  <button type="submit" class="btn btn-primary">Create</button>
  {{ form_end(createDiscussionForm) }}
{% endblock %}
